@mixin gutter-calc(
  $properties: (),
  $multiplier: 1
) {
  @each $breakpoint, $value in $grid-column-gutter {
    $size: rem-calc($value) * $multiplier;

    @include breakpoint($breakpoint) {
      @each $prop in $properties {
        #{$prop}: $size;
      }
    }
  }
}

//@mixin grid-small-medium-large-vw-calc($size: 1rem, $properties: (font-size)) {
//  @each $property in $properties {
//    #{$property}: vw-calc($size, map_get($breakpoints, medium));
//    @include breakpoint(medium) {
//      #{$property}: vw-calc($size, map_get($breakpoints, large));
//    }
//    @include breakpoint(large) {
//      #{$property}: vw-calc($size, $global-width);
//    }
//    @include breakpoint($global-width) {
//      #{$property}: rem-calc($size);
//    }
//  }
//}
//
@mixin grid-small-breakpoint-vw-calc($size: 1rem, $breakpoint: medium, $properties: (font-size)) {
  @each $property in $properties {
    #{$property}: vw-calc($size, map_get($breakpoints, $breakpoint));
    @include breakpoint($breakpoint) {
      #{$property}: vw-calc($size, $global-width);
    }
    @include breakpoint($global-width) {
      #{$property}: rem-calc($size);
    }
  }
}

@mixin grid-breakpoint-vw-calc($size: 1rem, $breakpoint: $global-width, $properties: (font-size)) {
  @each $property in $properties {
    #{$property}: vw-calc($size, $breakpoint);
    @include breakpoint($breakpoint) {
      #{$property}: rem-calc($size);
    }
  }
}
