<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="cv-wrapper">
                <div class="page">
                    <h1>Curriculum Vitae</h1>
                    <div class="contact-info">
                        <p><strong>Samuel Moncarey</strong></p>
                        <p>Baron August De Becker-Remyplein 36, bus 302<br>3010 Kessel-Lo</p>
                        <p>0489/91 00 84<br>samuel.moncarey@gmail.com</p>
                        <p>°06 april 1991</p>
                    </div>
                    <h2>Experience</h2>
                    <ul>
                        <li>
                            <strong>Web developer</strong> at <strong>Akkoo</strong>, Aarschot <span class="year">2014 – 2018</span>
                            <br>Development and maintenance web solutions for different companies
                        </li>
                        <li>
                            <strong>Web developer</strong> at <strong>Ademar</strong>, Hasselt <span class="year">2013 – 2014</span>
                            <br>Development of unit tests and functional tests
                        </li>
                        <li>
                            <strong>Web developer</strong> at <strong>Huize Eigen Haard</strong>, Aarschot <span class="year">2013</span>
                            <br>Development of a web application for billing transport
                        <li>
                            Various student jobs: woodworking, construction, warehouseman
                        </li>
                    </ul>
                    <h2>Education</h2>
                    <ul>
                        <li>
                            Training <strong>PHP / Drupal Developer</strong>, VDAB <span class="year">2013</span>
                        </li>
                        <li>
                            <strong>Applied IT</strong> at <strong>KHL </strong>(now UCLL), Leuven<span class="year">2011 - 2012</span>
                        </li>
                        <li>
                            <strong>Secondary education</strong><span class="year">2011</span>
                            <ul>
                                <li>
                                    Applied IT, Koninklijk Atheneum Redingenhof, Leuven (derde graad)
                                </li>
                                <li>
                                    Biotechnische Wetenschappen, De Wijnpers, Leuven (tweede graad)
                                </li>
                                <li>
                                    De Zonnewijzer Steinerschool, Wijgmaal, Leuven (lagere school en eerste graad)
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Extra info</h2>
                    <ul>
                        <li>
                            Ik ben gepassioneerd door <strong>IT</strong> en <strong>webdevelopment</strong>.
                        </li>
                        <li>
                            Mijn favoriete webdevelopment frameworks zijn Symfony en Foundation.
                        </li>
                        <li>
                            Ik ben een fervente voorstander van open source en een Linux gebruiker.
                        </li>
                        <li>
                            Mijn <strong>Github</strong> profiel: <a>https://github.com/samuelmc</a>.
                        </li>
                        <li>
                            <strong>Talenkennis</strong>: Tweetalige opvoeding <strong>Nederlands</strong>-<strong>Frans</strong>; mijn <strong>Engels</strong> is ook zeer goed.
                        </li>
                        <li>
                            <strong>Sport</strong>: Ik ben een fervente fietser. Vroeger heb ik ook aan athletiek en basketbal gedaan.
                        </li>
                        <li>
                            Daarnaast speelt <strong>muziek</strong> ook een grote rol in mijn leven. Zelf speel ik keyboard.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
