<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="cv-wrapper">
                <div class="page">
                    <h1>Curriculum Vitae</h1>
                    <div class="contact-info">
                        <p><strong>Samuel Moncarey</strong></p>
                        <p>Baron August De Becker-Remyplein 36, bus 302<br>3010 Kessel-Lo</p>
                        <p>0489/91 00 84<br>samuel.moncarey@gmail.com</p>
                        <p>°06 april 1991</p>
                    </div>
                    <h2>Experience</h2>
                    <ul>
                        <li>
                            <strong>Développeur web</strong> chez <strong>Akkoo</strong>, Aarschot <span class="year">2014 – 2018</span>
                            <br>Développement et entretien de solutions web pour divers entreprises
                        </li>
                        <li>
                            <strong>Développeur web</strong> chez <strong>Ademar</strong>, Hasselt <span class="year">2013 – 2014</span>
                            <br>Développement de testes unit et functionel
                        </li>
                        <li>
                            <strong>Développeur web</strong> chez <strong>Huize Eigen Haard</strong>, Aarschot <span class="year">2013</span>
                            <br>Développement d'une application web pour facturation de transport
                        <li>
                            Divers jobs étudiant: menuiserie, construction, entrepôt
                        </li>
                    </ul>
                    <h2>Formation</h2>
                    <ul>
                        <li>
                            Formation <strong>Développeur PHP / Drupal</strong>, VDAB <span class="year">2013</span>
                        </li>
                        <li>
                            <strong>Informatique appliquée</strong> à la <strong>KHL </strong>(maintenant UCLL), Louvain<span class="year">2011 - 2012</span>
                        </li>
                        <li>
                            <strong>Enseignement secondaire</strong><span class="year">2011</span>
                            <ul>
                                <li>
                                    Informatique appliquée, Koninklijk Atheneum Redingenhof, Louvain (troisième degré)
                                </li>
                                <li>
                                    Sciences Biotechniques, De Wijnpers, Louvain (deuxième degré)
                                </li>
                                <li>
                                    De Zonnewijzer Steinerschool, Wijgmaal, Louvain (école primaire et premier degré)
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Infos supplémentaires</h2>
                    <ul>
                        <li>
                            Je suis passioner par l'<strong>IT</strong> et le <strong>développement web</strong>.
                        </li>
                        <li>
                            Mes outils de développement web préférés sont Symfony et Foundation.
                        </li>
                        <li>
                            Je suis un fervent partisan de l'open source et un utilisateur Linux.
                        </li>
                        <li>
                            Mon profil <strong>Github</strong>: <a>https://github.com/samuelmc</a>.
                        </li>
                        <li>
                            <strong>Compétences linguistiques</strong>: Education bilingue <strong>Néerlandais</strong>-<strong>Français</strong>; mon <strong>Anglais</strong> est aussi excellent.
                        </li>
                        <li>
                            <strong>Sport</strong>: Je suis un fervent cycliste. J'ai aussi fait de l'athlétisme et jouer au basketball dans le passez.
                        </li>
                        <li>
                            La <strong>musique</strong> joue aussi un rôle majeur dans ma vie.
                            Daarnaast speelt <strong>muziek</strong> ook een grote rol in mijn leven. Je joue le clavier.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
