<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="cv-wrapper">
                <div class="page">
                    <div class="page-padding">
                        <div id="contact-info">
                            <div class="grid-x grid-padding-x">
                                <div class="cell auto">
                                    <h1>Curriculum Vitae</h1>
                                    <p><strong>Samuel Moncarey</strong><span class="bday">° 06 / 04 / 1991</span></p>
                                    <p>0489 / 91 00 84</p>
                                    <p>samuel.moncarey@gmail.com</p>
                                    <p>Sint-Maartensdal 2A bus 0011 - 3000 Leuven</p>
                                </div>
                                <div class="cell shrink">
                                    <div class="profile-picture-frame">
                                        <img src="/img/71179671_2646152345434968_6485059089750556672_n-square.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>Ervaring</h2>
                        <div class="grid-x grid-padding-x">
                            <div class="cell">
                                <ul class="xp-list">
                                    <li>
                                        <h3>Stage Fietshersteller <small><strong>Rijwielen Jocobs</strong>, Leuven</small> <span class="year">2021</span></h3>
                                        <p>Nieuwe fietsen in elkaar steken, onderhoud en herstellingen</p>
                                    </li>
                                    <li>
                                        <h3>Webontwikkelaar <small><strong>Akkoo</strong>, Aarschot</small> <span class="year">2014 - 2018</span></h3>
                                        <p>Ontwikkeling en onderhoud van weboplossingen voor ondernemingen</p>
                                    </li>
                                    <li>
                                        <h3>Stage Webontwikkelaar <small><strong>Flexmail</strong>, Hasselt</small> <span class="year">2013 - 2014</span></h3>
                                        <p>Ontwikkeling van unit testen en functionele testen</p>
                                    </li>
                                    <li>
                                        <h3>Stage Webontwikkelaar <small><strong>Apojo</strong>, Aarschot</small> <span class="year">2013</span></h3>
                                        <p>Ontwikkeling van een applicatie voor de administratie en boekhouding inzake het vervoer van klanten door het bedrijf</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h2>Opleiding</h2>
                        <div class="grid-x grid-padding-x">
                            <div class="cell">
                                <h3>Toegepaste informatica <small>Koningklijk Atheneum Redingenhof Leuven</small> <span class="year">2011</span></h3>
                                <ul class="checklist bi-column-list">
                                    <li>Webdesign / Webtechnieken</li>
                                    <li>OOP in Java</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                        </div>
                        <h2>Over mij</h2>
                        <ul class="checklist">
                            <li>
                                Ik ben gepassioneerd door <strong>IT</strong> en <strong>webdevelopment</strong>.
                            </li>
                            <li>
                                Mijn favoriete webdevelopment frameworks zijn Symfony en Foundation.
                            </li>
                            <li>
                                Ik ben een fervente voorstander van vrije en open source software.
                            </li>
                            <li>
                                Mijn favoriete besturingsysteem voor dagelijks gebruik is Arch linux.
                            </li>
                            <li>
                                Mijn <strong>Github</strong> profiel: <a href="https://github.com/samuelmc">github.com/samuelmc</a>.
                            </li>
                            <li>
                                <strong>Talenkennis</strong>: Tweetalige opvoeding <strong>Nederlands</strong>-<strong>Frans</strong>; mijn <strong>Engels</strong> is ook zeer goed.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pdf-download">
                    <a download href="/downloads/samuel-moncarey-cv-nl.pdf" class="button">Download</a>
                </div>
            </div>
        </div>
    </div>
</main>
