<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="cv-wrapper">
                <div class="page">
                    <h1>Curriculum Vitae</h1>
                    <div class="contact-info">
                        <p><strong>Samuel Moncarey</strong><span class="float-right">°06 april 1991</span></p>
                        <p>0489/91 00 84</p>
                        <p>samuel.moncarey@gmail.com</p>
                        <p>Amerstraat 145 bus 4 - 3200 Aarschot</p>
                    </div>
                    <h2>Ervaring</h2>
                    <ul>
                        <li>
                            <strong>Webontwikkelaar</strong> bij <strong>Akkoo</strong>, Aarschot <span class="year">2014 – 2018</span><br>Ontwikkeling en onderhoud van weboplossingen voor ondernemingen
                        </li>
                        <li>
                            <strong>Webontwikkelaar</strong> bij <strong>Ademar</strong>, Hasselt <span class="year">2013 – 2014</span><br>Ontwikkeling van unit testen en functionele testen
                        </li>
                        <li>
                            <strong>Webontwikkelaar</strong> bij <strong>Huize Eigen Haard</strong>, Aarschot <span class="year">2013</span><br>Ontwikkeling van een web applicatie voor facturatie van vervoer
                        <li>
                            Diverse studentenjobs: houtbewerking, bouw, magazijnier
                        </li>
                    </ul>
                    <h2>Opleiding</h2>
                    <ul>
                        <li>
                            Opleiding <strong>PHP / Drupal Ontwikkelaar</strong>, VDAB <span class="year">2013</span>
                        </li>
                        <li>
                            <strong>Toegepaste Informatica</strong> aan de <strong>KHL </strong>(thans UCLL), Leuven<span class="year">2011 - 2012</span>
                        </li>
                        <li>
                            <strong>Secundair Onderwijs</strong><span class="year">2011</span>
                            <ul>
                                <li>
                                    Toegepaste Informatica Koninklijk Atheneum Redingenhof, Leuven (derde graad)
                                </li>
                                <li>
                                    Biotechnische Wetenschappen, De Wijnpers, Leuven (tweede graad)
                                </li>
                                <li>
                                    De Zonnewijzer Steinerschool, Wijgmaal, Leuven (lagere school en eerste graad)
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Extra info</h2>
                    <ul>
                        <li>
                            Ik ben gepassioneerd door <strong>IT</strong> en <strong>webdevelopment</strong>.
                        </li>
                        <li>
                            Mijn favoriete webdevelopment frameworks zijn Symfony en Foundation.
                        </li>
                        <li>
                            Ik ben een fervente voorstander van open source en een Linux gebruiker.
                        </li>
                        <li>
                            Mijn <strong>Github</strong> profiel: <a>https://github.com/samuelmc</a>.
                        </li>
                        <li>
                            <strong>Talenkennis</strong>: Tweetalige opvoeding <strong>Nederlands</strong>-<strong>Frans</strong>; mijn <strong>Engels</strong> is ook zeer goed.
                        </li>
<!--                        <li>-->
<!--                            <strong>Sport</strong>: Ik ben een fervente fietser. Vroeger heb ik ook aan athletiek en basketbal gedaan.-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Daarnaast speelt <strong>muziek</strong> ook een grote rol in mijn leven. Zelf speel ik keyboard.-->
<!--                        </li>-->
                    </ul>
                </div>
                <div class="pdf-download">
                    <a download href="/downloads/samuel-moncarey-cv-nl.pdf" class="button">Download</a>
                </div>
            </div>
        </div>
    </div>
</main>
